.sidebar {
    width: 200px;
    background-color: #f9f9f9;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li, .sidebar .asignaturas {
    padding: 0.8rem ;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .sidebar li:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
  }
  
  .sidebar .asignatura {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  